.authorization_login-link {
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
}

.authorization_login-link:hover {
    cursor: pointer;
    opacity: 0.8;
}