.popup__submit-btn {
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #000;
    width: 100%;
    height: 46px;
    padding: 0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 15px;
}

.popup__submit-btn:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .popup__submit-btn {
        font-size: 18px;
        line-height: 22px;
        height: 50px;
        margin-top: 20px;
    }
}